<ion-header>

  <ion-navbar>
    <ion-title>Menus</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let menu of menus">
    <ion-card-title>
      {{menu.name}}
    </ion-card-title>
    <div *ngFor="let product_category of menu.product_categories">
      <ion-card-header>
        {{product_category.name}}
      </ion-card-header>
      <div *ngFor="let product of product_category.products">
        <button ion-button>
          {{product.name}}
          {{product.price}}
        </button>
      </div>
    </div>

  </ion-card>


</ion-content>
