<ion-header>

  <ion-navbar>
    <ion-title>Menus</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let menu of menus">
    <ion-card-title>
      {{menu.name}}
    </ion-card-title>
    <div class="product_header" *ngFor="let product_category of menu.product_categories">
      <ion-card-header>
        <strong>{{product_category.name}}</strong>
      </ion-card-header>
      <div *ngFor="let product of product_category.products">
        <ion-item>
          {{product.name}}
          <button ion-button outline item-end icon-left>
            US$ {{product.price}}
          </button>
        </ion-item>
      </div>
    </div>

  </ion-card>


</ion-content>
